doctype html
html
  head
    title 태극권 도장
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header
      h1 태극권 도장에 오신 것을 환영합니다
      nav
        ul
          li: a(href="#about") 소개
          li: a(href="#instructors") 사부님들
          li: a(href="#classes") 수업
          li: a(href="#contact") 연락처
    main
      section#about
        h2 도장 소개
        p 태극권 도장은 전통 무술을 배우고 심신을 단련할 수 있는 장소입니다. 초보자부터 고급자까지 모든 수준의 수련생을 환영합니다.
      section#instructors
        h2 사부님들
        p 저희 도장은 경험 많고 친절한 사부님들이 여러분을 지도합니다.
        ul
          li
            h3 김사부님
            p 30년 경력의 태극권 전문가
          li
            h3 이사부님
            p 국제 대회 우승 경력 보유
      section#classes
        h2 수업 안내
        p 저희 도장은 다양한 시간대에 맞춘 수업을 제공합니다.
        ul
          li 초급반 - 월/수/금 오후 6시
          li 중급반 - 화/목 오후 7시
          li 고급반 - 주말 오전 10시
      section#contact
        h2 연락처
        p 전화: 010-1234-5678
        p 이메일: info@taichi-dojang.com
        p 주소: 서울특별시 강남구 도산대로 123
    footer
      p &copy; 2024 태극권 도장. All rights reserved.